        $bckgrndcolor:rgb(33, 31, 39);
        $frgrndcolor:rgb(233, 216, 200);
        $itemcolordrk: rgb(33, 2, 16);
        $itemcolorlght: rgb(248, 199, 191);
        $btncolor: rgb(60, 206, 246);
        $shadow: rgb(14, 16, 17);
        @mixin firstfont {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
            font-size: 2rem;
            color: black;
        }
        
        @mixin dsp-navline {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        
        @mixin dsp-navbar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        @mixin txt-shdw {
            text-shadow: 2px, 2px, 5px, $shadow;
        }
        
        %card-container {
            position: relative;
            width: 350px;
            height: 550px;
            border: radius 2rem;
            margin: 1rem;
            backface-visibility: hidden;
        }
        
        %cardface {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 2rem;
            background-color: rgb(233, 222, 210);
            border: solid 5px purple;
            box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0);
            Backface-visibility: hidden
        }
        
        %cardname {
            position: absolute;
            width: fit-content;
            height: fit-content;
            margin-top: 7px;
            padding: 4px;
            background-color: rgb(240, 195, 150);
            border: solid 5px purple;
            border-radius: 1rem;
            font-size: 1.6em;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        %char-img {
            max-width: 320px;
            max-height: auto;
            margin-top: 24px;
        }
        
        %img {
            max-height: 100%;
            border: solid 5px purple;
            border-radius: 1rem;
        }
        
        %stats {
            width: fit-content;
            height: fit-content;
            margin-top: -26px;
            padding-left: 4px;
            padding-right: 4px;
            background-color: rgb(240, 195, 150);
            border: solid 5px purple;
            border-radius: 1rem;
            font-size: 1.6em;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        %player-stats {
            display: inline;
            width: 86%;
        }
        
        %attributes {
            text-align: left;
            float: left;
            margin: 0;
        }
        
        %data {
            text-align: right;
            float: right;
            margin: 0;
        }
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        .body {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: linear-gradient(to bottom right, black, aquamarine);
        }
        
        .devcredit {
            @include firstfont;
            margin-top: 4vh;
            color: white;
            font-size: calc(8vh * (1/4));
        }
        
        .header {
            @include dsp-navline();
            width: 100%;
            background-color: $bckgrndcolor;
        }
        
        .image {
            border-radius: 50%;
            position: absolute;
            margin-right: 85%;
            margin-top: -5vh;
            z-index: 5;
            .logo {
                border-radius: 50%;
                border: solid $itemcolordrk;
                width: (100vw * (1/7));
            }
        }
        
        .title-name {
            width: 100%;
            height: 15vh;
            background-color: aquamarine;
            text-align: end;
            .name {
                @include firstfont();
                padding-right: 6vw;
                font-size: calc(10vw * (3/5));
                color: $frgrndcolor;
                text-shadow: .4vh .6vh 1vh $shadow;
            }
        }
        
        .container {
            height: 8vh;
            margin-left: 15vw;
            width: 80vw;
            margin-right: 5vw;
            .nav_links {
                @include dsp-navbar();
                @include firstfont();
                .a {
                    text-decoration: none;
                    text-shadow: 2px 4px 8px black;
                    color: rgb(122, 63, 205);
                    font-size: calc(5vw * (3/5));
                }
            }
            .a:hover {
                transition: 0.3s;
                color: rgb(164, 171, 239);
                text-shadow: rgb(237, 190, 146);
            }
        }
        
        .card-deck {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
        }
        
        .card-container-1 {
            @extend %card-container;
            .card-container-1:hover {
                cursor: pointer;
                transform: rotateY(180deg);
            }
        }
        
        .cardback {
            @extend %cardface;
            background-color: #3a3a3a;
            transform: rotateY(180deg);
        }
        
        .cardface-1 {
            @extend %cardface;
            position: relative;
            transition: transform 1500ms;
        }
        
        .cardname-1 {
            @extend %cardname;
        }
        
        .char-img-1 {
            @extend %char-img;
        }
        
        .img-1 {
            @extend %img;
        }
        
        .stats-1 {
            @extend %stats;
        }
        
        .player-stats-1 {
            @extend %player-stats;
        }
        
        .attributes-1 {
            @extend %attributes;
        }
        
        .data-1 {
            @extend %data;
        }